body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-weight: bold;
}
h2 {
  font-size: 18px;
}
h3 {
  color: #006ec5;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
}
h5,
h6 {
  text-align: center;
}

.low-temperature,
.high-temperature {
  display: inline-block;
  position: relative;
  margin: auto;
}
.high-temperature {
  font-size: 40px;
  font-weight: bold;
  color: #006ec5;
}
.low-temperature {
  font-size: 18px;
  color: #1ab2a8;
}
.enter-city {
  border: 3px solid #1ab2a8;
}
.change-city-btn {
  display: block;
  margin: 0 auto;
  color: #5a6275;
  background: white;
  border: 3px solid #1ab2a8;
}
.forecast {
  text-align: center;
}
.forecast-card {
  border: 3px solid #596aca;
}
.weather-app {
  margin-top: 30px;
  border: 3px solid #006ec5;
  width: 80%;
}
.wrapper {
  margin-bottom: 25px;
  border: 3px solid #006ec5;
  display: inline;
}

.current {
  border: 3px solid #5ac2f0;
  float: left;
  margin: 25px auto 25px 15px;
  width: 40%;
  padding: 24px 24px;
}
.form {
  float: right;
  margin: 25px 15px 25px auto;
  width: 55%;
  border: none;
}
.form-card {
  border: none;
}
.sun {
  color: #ffa726;
}
.day-emoji {
  font-size: 36px;
}
.current-emoji {
  color: #006ec5;
  font-weight: bold;
  font-size: 80px;
  padding: 50px 0px 0px 0px;
  width: 100%;
}
.emoji-wrapper {
  padding: auto;
}
